    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Bg Color for Nav #4d4c72 */

    body{
      background-color: gray;
    }

    h1 {
      font-weight: normal;
    }

    .svg-temp-styles {
      width: 40px;
      height: 40px;
      color: #fff;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
      "header"
      "nav"
      "main";
    }

    header {
      grid-area: header;
      background-color: #7477bf;
    }

    nav {
      grid-area: nav;
    }

    main {
      grid-area: main;
    }

    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
    }

    .profile-img {
      border-radius: 50%;
      width: 20%;
      height: 20%;

      margin-top: 5px;
      margin-bottom: 5px;

    }