   /* Base Styles */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    }

    /* Bg Color for Nav #4d4c72 */

    body{
      background-color: #fff;
    }

    h1 {
      font-weight: normal;
    }

    .svg-base-styles {
      width: 40px;
      height: 40px;
      color: #fff;
    }

    /* Turns page display to grid */

    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
      "header"
      "nav"
      "main";
    }

    /* Sets all grid section */

    header {
      grid-area: header;
      background-color: #7477bf;
    }

    nav {
      grid-area: nav;
    }

    main {
      grid-area: main;
    }

    /************************* 
    Header 
    *************************/

    .header-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      padding-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .header-content h1 {
      margin-right: auto;
    }

    .header-content > *:not(h1) {
      margin-left: 1rem;
    }

    .profile-img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .bell-divider {
      display: flex;
      align-items: center;
      border-right: 1px solid #fff;
      padding-right: 0.5rem;  
      margin-right: 0.5rem;
    }


    /************************* 
    Nav
    *************************/
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #fff;
      background-color: #4d4c72;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }



 
    /************************* 
    Main 
    *************************/
    .main {
      display: grid;
    }

    .main-header {
      background-color: #f0f0f0;
      display: flex;
      border-bottom: 1px solid #ccc;
      position: relative;
      width: 100%;
      height: 50px;
    }

    .main-header .headline {
      background-color: #fff;
      border-right: 0.1rem solid #ccc;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      top: 0.1rem;
    }

    .main-header .headline h2 {
      margin-top: 8px;
      line-height: 1;
    }

    /* Traffic */
    .traffic {
      display: grid;
      grid-template-areas:
        "traffic-header"
        "traffic-chart";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }
    

    .traffic-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: traffic-header;
    }
    

    .traffic-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    .traffic-nav {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 1rem;
      padding: 0;
    }
    
    .traffic-nav-link {
      background-color: #e6e6e6;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color .2s ease-in-out;
    }
    
    .traffic-nav-link:hover {
      background-color: #7477bf;
      color: #fff;
    }
    
    /* Traffic Chart */
    .traffic-chart {
      grid-area: traffic-chart;
      margin-top: 1rem;
    }

     /* Daily Traffic */
     .daily {
      display: grid;
      grid-template-areas:
        "daily-traffic-header"
        "daily-traffic-chart";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }

    .daily-traffic-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: daily-traffic-header;
    }

    .daily-traffic-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    /* Daily Traffic Chart */
    .daily-traffic-chart {
      grid-area: daily-traffic-chart;
      margin-top: 1rem;
    }

     /* Mobile Users */
     .mobile {
      display: grid;
      grid-template-areas:
        "mobile-users-header"
        "mobile-users-chart";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }

    .mobile-users-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: mobile-users-header;
    }

    .mobile-users-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    /* Mobile Users Chart */
    .mobile-users-chart {
      grid-area: mobile-users-chart;
      margin-top: 1rem;
    }

    /* Social Stats */
    .social-container {
      display: grid;
      grid-template-areas:
        "social-stat";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }

    .social-stats-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    .social-stat {
      display: flex;
      align-items: center;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 1rem;
      margin: 1rem;
    }
    
    .social-icon {
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .social-icon svg {
      width: 100%;
      height: 100%;
      fill: #7477bf;
    }
    
    .social-text p:first-child {
      font-size: 1rem;
      color: #7477bf;
      margin-bottom: 0.5rem;
    }
    
    .social-text p:last-child {
      font-size: 1.5rem;
      color: #666;
    }
    
    /* Members */
    .members {
      display: grid;
      grid-template-areas:
        "new-members-header"
        "members-container";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }

    .new-members-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
      padding-top: 1rem;
      border-top: solid 1px #ccc;
    }

    .members-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2rem;
      margin-top: 1rem;
      border-bottom: solid 1px #ccc;
    }

    .members-container img {
      border-radius: 50%;
    }

    .members-text {
      text-align: center;
      line-height: 1.2;
    }

    /* Recent Activity */
    .activity {
      display: grid;
      grid-template-areas:
        "new-members-header"
        "members-container";
      grid-template-rows: auto 1fr;
      background-color: #fff;
      margin: 1rem;
    }

    .activity-header h3 {
      align-self: flex-start;
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: #333;
    }

    .bold-text {
      font-weight: bold;
    }

    /* Message */
    .message {
      background-color: #fff;
      margin: 1rem;
      padding: 1rem;
    }

    .message h3 {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 1rem;
    }

    .widget-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .form-field,
    .form-area {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .form-field:focus,
    .form-area:focus {
      border-color: #7477bf;
      box-shadow: 0 0 5px rgba(116, 119, 191, 0.5);
      outline: none;
    }

    .form-area {
      resize: vertical;
      min-height: 100px;
    }

    .button-primary {
      background-color: #7477bf;
      color: #fff;
      border: none;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    .button-primary:hover {
      background-color: #5a5ba5;
    }



    
    /* Media Queries */
    /* @media (min-width: 768px) {
        .grid-container {
          grid-template-columns: 55px 1fr;
          grid-template-areas:
          "header header"
          "nav main";
        }
      }

      @media (min-width: 768px) {
        .main {
          grid-template-columns: 50%;
        }
      }

      @media (min-width: 768px) {
        .traffic, 
        .social {
          grid-column: 1 / span 2;
        }
      } */