   /* Base Styles */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Bg Color for Nav #4d4c72 */

    body{
      background-color: #fff;
    }

    h1 {
      font-weight: normal;
    }

    .svg-temp-styles {
      width: 40px;
      height: 40px;
      color: #fff;
    }

    /* Turns page display to grid */

    .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
      "header"
      "nav"
      "main";
    }

    /* Sets all grid section */

    header {
      grid-area: header;
      background-color: #7477bf;
    }

    nav {
      grid-area: nav;
    }

    main {
      grid-area: main;
    }

    /* Header */

    .header-content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      padding-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .header-content h1 {
      margin-right: auto;
    }

    .header-content > *:not(h1) {
      margin-left: 1rem;
    }

    .profile-img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .bell-divider {
      display: flex;
      align-items: center;
      border-right: 1px solid #fff;
      padding-right: 0.5rem;  
      margin-right: 0.5rem;
    }

    /* Nav */
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #fff;
      background-color: #4d4c72;
      padding-left: 40px;
      padding-right: 40px;
    }



    /* Main */
    .main {
      display: grid;
    }





    /* Media Queries */
    @media (min-width: 768px) {
        .grid-container {
          grid-template-columns: 55px 1fr;
          grid-template-areas:
          "header header"
          "nav main";
        }
      }

      @media (min-width: 768px) {
        .main {
          grid-template-columns: 50%;
        }
      }

      @media (min-width: 768px) {
        .traffic, 
        .social {
          grid-column: 1 / span 2;
        }
      }